####
#MAIN or TEST
ENVIRONMENT=TEST
CONTRACT_NAME=TokenGraveyard
EVENT_NAME=GraveyardEvent
ACCOUNT_ID=
PRIVATE_KEY=
####
CONTRACT_ID=
## https://testnet.mirrornode.hedera.com/api/v1/contracts/
##cost in tiny bar (10^8)
INITIAL_COST=
LAZY_TOKEN=0.0.48486075
LAZY_CONTRACT=0.0.48486072
LAZY_BURN_PERC=50